# Environment Variables
NODE_ENV=development

# Payment Gateway Configuration
# Options: veripay_sandbox, paymongo, xendit, stripe
PAYMENT_GATEWAY_PROVIDER=veripay_sandbox
# Options: test, production
PAYMENT_GATEWAY_MODE=test
PAYMENT_GATEWAY_PUBLIC_KEY=
PAYMENT_GATEWAY_SECRET_KEY=
PAYMENT_GATEWAY_WEBHOOK_SECRET=
